In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/20181024_d5_0930_1000.csv', sep="[;]", index_col=False, error_bad_lines=False)

C:\Users\mo\AppData\Local\Temp\ipykernel_11516\2617170094.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv('../data/20181024_d5_0930_1000.csv', sep="[;]", index_col=False, error_bad_lines=False)
C:\Users\mo\AppData\Local\Temp\ipykernel_11516\2617170094.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df = pd.read_csv('../data/20181024_d5_0930_1000.csv', sep="[;]", index_col=False, error_bad_lines=False)
C:\Users\mo\AppData\Local\Temp\ipykernel_11516\2617170094.py:1: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  df = pd.read_csv('../data/20181024_d5_0930_1000.csv', sep="[;]", index_col=False, error_bad_lines=False)

In [3]:
df.head()

,track_id,type,traveled_d,avg_speed,lat,lon,speed,lon_acc,lat_acc,time
0,1,Motorcycle,64.15,10.498043,37.983050,23.728999,0.0,0.0,0.0,0.0
1,2,Motorcycle,42.53,7.291162,37.982994,23.729029,0.0,0.0,0.0,0.0
2,3,Motorcycle,47.50,8.143241,37.983036,23.728997,0.0,0.0,0.0,0.0
3,4,Car,39.78,7.617286,37.983073,23.729010,0.0,0.0,0.0,0.0
4,5,Medium Vehicle,42.64,6.977597,37.983131,23.729013,0.0,0.0,0.0,0.0

In [5]:
df.shape

(2791, 10)

In [6]:
df.columns

Index(['track_id', ' type', ' traveled_d', ' avg_speed', ' lat', ' lon',
       ' speed', ' lon_acc', ' lat_acc', ' time'],
      dtype='object')